[Desktop Entry]
Version=1.0
Type=Application

Name=Syncara
Comment=Sync YouTube playlists offline
Categories=AudioVideo;Music;

Icon=io.github.khaled_0.TubeSync
Exec=syncara
Terminal=false
